.thumb {
  width: 100px;
  margin: 5px;
  border: 1px solid #000;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%;
  max-height: 70vh;
  background: white;
}

